<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL2.dll" os="windows" target="Besiege_Data/Mods/Resources/AdvancedControls/lib/SDL2.dll"/>
	<dllmap dll="SDL2.dll" os="osx" target="Besiege.app/Contents/Mods/Resources/AdvancedControls/lib/libSDL2-2.0.0.dylib"/>
	<dllmap dll="SDL2.dll" os="linux" target="Besiege_Data/Mods/Resources/AdvancedControls/lib/libSDL2-2.0.so.0"/>
</configuration>